# Server
PORT=8000
NODE_ENV=development

# Database
MONGODB_URI=

# Authentication
JWT_SECRET=

# OpenAI
OPENAI_API_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Client
CLIENT_URL=http://localhost:3000
# FRONTEND_URL=http://localhost:3000